body {
    background-color: white;
}

p > a {
    margin-top: 1rem;
}
.content-container {
    padding-top: 4rem;
}

.images-container:after {
    content: "";
    display: block;

}
.photos {
    float: left;
    width: 100%;
    display: none;
}
.myphotos {
    max-width: 200%;
    width: 100%;
    height: auto;
    vertical-align: middle;

}
.show {
    display: block;
}
.button-container {
    padding-top: 1rem;
    max-width: 100%;
    position: relative;


}
.btn {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.25rem;
    color: #5F7470;
    background-color: white;
    cursor: pointer;

}
.btn:hover {
    color:  #889696;

}
.btn:active {
    color: #E0E2DB;
    font-style: italic;

}



@media screen and (min-width: 35em) {
    .btn {
        font-size: 1.5rem;
    }

    .button-container {
        -ms-flex:25%;
        flex:25%;
        max-width:25%;
        overflow: hidden;
        float: left;
        height: 100%;
        text-align: left;
        position: fixed;
        top: 4rem;
        padding-top: 4rem;

    }
    .images-container {
        -ms-flex:75%;
        flex:75%;
        max-width:75%;
        overflow: hidden;
        float: right;

    }
    header {
        position: fixed;
        width: 100%;
        height: fit-content;
    }

  }

  @media screen and (min-width: 75em) {
      .btn {
          font-size: 2rem;
      }
  
      .button-container {
        -ms-flex:15%;
        flex:15%;
        max-width: 20%;
        overflow: hidden;
        float: left;
        height: 100%;
        text-align: left;
        position: fixed;
        top: 8rem;

    }
    .images-container {
        padding-right: 5%;
        -ms-flex:80%;
        flex:80%;
        max-width:80%;
    }

  }