/* navigation styling */
.navigation {
    width: 100%;
    position: static;
    align-items: center;
    text-align: center;
}

.navigation > a {
    display: inline-block;
    padding: 2.5%;
    font-size: 1em;
}

.navigation > a:hover {
    font-weight: 300;
    color: grey;
}